* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

body {
  font-family: 
  'castoro',         
  -apple-system,      /*- mac -*/
  BlinkMacSystemFont, /*- mac -*/
  'Helvetica Neue',   /*- ios -*/
  Roboto,             /*- android -*/
  'Segoe UI',         /*- windows -*/
  Arial,              /*- common -*/
  sans-serif;         /*- common -*/
}



/*----- Some Buff -----*/


.tae {
  text-align: end;
}

.age {
  font-size: 20px;
  line-height: 30px;
  font-style: italic;
  color: #949494;
}

.mrl {
  margin: 0px 40px;
}

.mb {
  margin-bottom: 16px;
}





/*----- Divider -----*/



header {
  padding: 160px 326px 0px 312px;
}

h1 {
  font-size: 128px;
  font-weight: 400;
  line-height: 192px;
  letter-spacing: 12%;
}

.picture {
  margin: auto;
  display: block;
}


.container {
  background-color: #EFEFEF;

  padding: 48px 312px 48px 972px;
}

.container p {
  font-size: 32px;
  line-height: 48px;

  max-width: 636px;
}

main {
  padding: 80px 972px 160px 312px;
}

h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 60px;
  color: #AE0000;

  max-width: 636px;

  margin-bottom: 16px;

  border-bottom: 3px solid #AE0000;
}

main ul {
  margin-bottom: 40px;
}

main li {
  font-size: 24px;
  line-height: 36px;

  width: 636px;
}

.vito li {
  margin-bottom: 8px;
}

.awards li {
  margin-bottom: 12px;
}



footer {
  padding: 64px 824px;
  background-color: #000000;
}

footer div {
  width: 280px;
  margin: auto;
}

footer img {
  display: inline-block;
}