* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: 
  'castoro',         
  -apple-system,      /*- mac -*/
  BlinkMacSystemFont, /*- mac -*/
  'Helvetica Neue',   /*- ios -*/
  Roboto,             /*- android -*/
  'Segoe UI',         /*- windows -*/
  Arial,              /*- common -*/
  sans-serif;         /*- common -*/

  line-height: 1.5;
}



/*----- Some Buff -----*/



.container {
  width: 1296px;

  margin: auto;
}

.age {
  font-size: 20px;
  line-height: 30px;
  font-style: italic;
  color: #949494;
}

.mr {
  margin-right: 40px;
}

.mb {
  margin-bottom: 16px;
}

.bc {
  background-color: #EFEFEF;
}

.w-50 {
  width: 50%;
}

.mla {
  margin-left: auto;
}

.mt {
  margin-top: 80px;
}


.footer-mb {
  margin-bottom: 160px;
}





/*----- Divider -----*/



header {
  padding-top: 160px ;
}

h1 {
  font-size: 128px;
  font-weight: 400;
  letter-spacing: 0.12em;
}

.picture {
  margin: auto;
  display: block;
}

.aboutMe {
  font-size: 32px;

  margin-left: auto;
  padding: 48px 0px;
}



h2 {
  font-size: 40px;
  font-weight: 400;
  color: #AE0000;


  margin-bottom: 16px;

  border-bottom: 3px solid #AE0000;
}

main ul {
  margin-bottom: 40px;
}

main li {
  font-size: 24px;
}

.vito li {
  margin-bottom: 8px;
}

.awards li {
  margin-bottom: 12px;
}



footer {
  padding: 64px 0px;
  background-color: #000000;
}

footer ul {
  text-align: center;
}

footer li {
  display: inline-block;
}